/* 強制標記為深色網頁 */
:root {
    color-scheme: dark;
}

/* 全域樣式設定 */
body {
    background-color: #050505 !important;
    color: #e0e0e0;
}



/* 開頭主視覺區 */
.hero-section {
    /* 設定135 度斜向漸層 */
    background: linear-gradient(135deg, 
    #282847 0%, 
    #20305b 40%, 
    #4e342e 70%, 
    #b8860b 100%);
    /* 把漸層背景放大到原本的2.5倍 */
    background-size: 250% 250%;
    /* 啟動動態效果， */
    animation: gradientBG 5s ease-in-out infinite;
    /* 區塊的四個角落產生黑色內陰影 */
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8);
    /* 間距隨螢幕大小上下自動調整12% ，左右0%*/
    padding: 12vh 0;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* 質感金屬文字 (h1) */
.hero-text-gold {
    font-family: "LXGW WenKai TC", cursive !important;
    /* 字之間的距離 */
    letter-spacing: 8px; 
    font-size: 38px;
    background: linear-gradient(to bottom,
            #cfb53b 0%,
            #fff5c3 20%,
            #c5a059 40%,
            #ffecad 70%,
            #8a6d3b 100%);
    /* 把背景色剪裁成文字的形狀 */
    -webkit-background-clip: text;
    /* 文字原本的顏色設為透明 */
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    /* 文字外距隨螢幕大小左右自動調整5% */
    margin: 0 5vh;
}



/*導覽列設計*/
.custom-navbar {
    height: 70px;
    font-family: "LXGW WenKai TC", cursive;
    background-color: #050505;
    border-top: 1px solid #c5a059;
    border-bottom: 1px solid #c5a059;
    padding: 8px;
}

/* 導覽列連結 */
.custom-navbar .nav-link {
    color: #c5a059;
    font-weight: 500;
}

/* 手機版按鈕外框顏色 */
.navbar-toggler {
    border-color: #c5a059 !important;
}

/* 把手機版按鈕用SVG 向量圖客製化成金色 */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23c5a059' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-collapse {
    background-color: rgba(10, 10, 10, 0.95);
}

/* 導覽列設定螢幕上留的px */
:target {
    scroll-margin-top: 80px;
}




/* 卡片 */
.custom-card {
    /* 內距 */
    padding: 24px;
    font-family: "LXGW WenKai TC", cursive;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(197, 160, 89);
    /* 邊框圓角 */
    border-radius: 20px;
    /* 下方外距 */
    margin-bottom: 10px;
    /* 文字左右對齊 */
    text-align: justify;
    /* 針對中文字優化，避免標點符號造成奇怪的間隙 */
    text-justify: inter-character;
}

/* 卡片標題 */
.custom-card .card-title {
    color: #c5a059 !important;
    font-weight: 700;
    border-bottom: 2px solid rgba(197, 160, 89, 0.5) ;
    /* 下方內距 */
    padding-bottom: 8px;
    /* 下方外距 */
    margin-bottom: 24px;
}

/* 卡片中標籤 strong 文字顏色 */
.custom-card strong {
    color: #c5a059;
}



/* 工作經歷表格標題列顏色 */
.custom-table thead th {
    color: #c5a059;
    border-bottom: 2px solid rgba(197, 160, 89, 0.5);
    font-weight: 700;
}




/* 專業證照清單設定 */
.list-group-item {
    background-color: #252525;
    color: #ffffff;
    border: 1px solid rgba(197, 160, 89, 0.5);
}

/* 設定圖片旋轉木馬高度 */
.portfolio-carousel .carousel-item {
    height: 400px;
    background-color: #4d4d4d;
}

/*設定圖片旋轉木馬在框內等比縮放，不被裁切 */
.portfolio-carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/*作品集之間的分隔線*/
.portfolio-item:not(:last-child) {
    border-bottom: 2px solid #c5a059 !important;
    /* 加粗實線 */
    margin-bottom: 5rem !important;
    /* 增加間距 */
    padding-bottom: 5rem;
}

/* 作品集內的標題與小標題顏色 */
.portfolio-item h3, 
.portfolio-item h4 {
    color: #c5a059;
}

/* 作品集內的標題底線 */
.portfolio-item h4 {
    border-bottom: 1px solid rgba(197, 160, 89, 0.5) !important;
}



/* 頁尾樣式 */
.footer-section {
    background-color: #0a0a0a;
    border-top: 1px solid rgba(197, 160, 89, 0.3);
    color: #888;
}

/* 回到頂部按鈕*/
.btn-back-to-top {
    color: #c5a059;
    border-color: #c5a059;
    width: 45px;
    height: 45px;
    line-height: 30px;
    transition: all 0.3s;
}

.btn-back-to-top:hover {
    background-color: #c5a059;
    color: #000;
    transform: translateY(-5px);
}


